body {

	background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
	float: left;
	width: 659px;
	height:  494 px;
}


.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, {
  display: show;
}

} 

.ryu-ready {
  background-image: url('http://res.cloudinary.com/dzmtkw5rx/image/upload/v1469487255/ryu-ready-position_sg25qb.gif');
}

.ryu-still {
  background-image: url('http://res.cloudinary.com/dzmtkw5rx/image/upload/v1469487256/ryu-standing-still_zg9zfe.png');
}

.ryu-throwing {
  background-image: url('http://res.cloudinary.com/dzmtkw5rx/image/upload/v1469487259/ryu-throwing-hadouken_y9asyk.png');
}

.hadouken {
  background-image: url('http://res.cloudinary.com/dzmtkw5rx/image/upload/v1469487262/hadouken_xaur59.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top:175px;
  left: 600px;

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

* {
  outline: red 1px solid;
}

function playHadouken () {
  $('#hadouken-sound')[0].volume = 0.5;
  $('#hadouken-sound')[0].load();
  $('#hadouken-sound')[0].play();
}